<!-- START navigation -->
<nav class="fixedtop topbar navigation" role="navigation">

    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class=" brand-logo " ><i class="mdi mdi-ring"></i>Lila 'S</a>
      <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->

      <!-- <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->
        <!-- <a href="#" data-target="" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i class="mdi mdi-chevron-left" data-page=""></i></a> -->

        <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large"><i class="mdi mdi-menu"></i></a>



        <!-- <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large pulse"><i class="mdi mdi-tune"></i></a> -->

        <a href="#" data-target="" class="waves-effect waves-circle navicon right nav-site-mode show-on-large"><i class="mdi mdi-invert-colors mdi-transition1"></i></a>
      <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
<ul id="slide-nav" class="sidenav sidemenu">
    <li class="menu-close"><i class="mdi mdi-close"></i></li>
    <li class="user-wrap">
      <div class="user-view row">
      <!-- <div class="background">
        <img src="assets/images/office.jpg">
      </div> -->
      <div class="col s3 imgarea">
        <a href="#user"><img class="circle" src="assets/images/user-37.jpg"></a></div>
      <div class="col s9 infoarea">
        <a href="#name"><span class="name">Cherry Smith</span></a>
        <a href="#email"><span class="email">user@user.com</span></a>
      </div>
      </div>
    </li>
    

    <li class="menulinks"><ul class="collapsible">
      <!-- SIDEBAR - START -->

    <!-- MAIN MENU - START -->

            <li class="sh-wrap"><div class="subheader">Navigation</div></li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="#">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">Collections</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="ui-pages-home.html">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">Favoris</span>
                            </a>
                        </div>
                    </li>

                    

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="sub-portfolio.html">
                        <i class="mdi mdi-grid-large"></i>
                        <span class="title">Portfolio</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="#">
                        <i class="mdi mdi-message-text-outline"></i>
                        <span class="title">Partager l'application</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect "><a href="#" data-target="slide-settings" data-target="slide-settings" class="sidenav-trigger"><i class="mdi mdi-settings-outline"></i><span class="title">Paramètres</span>  </a>
                        </div></li>
            
    <!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->
      
    </li>
    </ul></li><br><br>
      <li class="copy-spacer"></li><li class="copy-wrap"><div class="copyright">&copy; @Abson | @SOS | @Mr Z</div>

    

</ul>
<!-- END navigation -->


